In [1]:
import pandas as pd

df = pd.read_csv("data.csv")

In [2]:
df.head()

        Date Weather
0  1.04.2020   Sunny
1  2.04.2020  Cloudy
2  3.04.2020   Sunny
3  4.04.2020   Rainy
4  5.04.2020   Sormy
5  6.04.2020   Rainy
6  7.04.2020   Sunny
7  8.04.2020   Sunny